In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"churn.csv")

## üìÇ 1. Data Loading and Preparation

Q1. Load the dataset into a pandas DataFrame. Print the first 5 rows and display the data types of all columns.

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

Q2. Check for any missing or duplicate records in the dataset. How many are there?

In [10]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [11]:
df.duplicated().sum()

0

Q3. Convert the categorical columns Geography and Gender into appropriate numerical formats using label encoding or one-hot encoding.

In [17]:
pd.get_dummies(df[['Geography','Gender']])

,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,1,0,0,1,0
1,0,0,1,1,0
2,1,0,0,1,0
3,1,0,0,1,0
4,0,0,1,1,0
...,...,...,...,...,...
9995,1,0,0,0,1
9996,1,0,0,0,1
9997,1,0,0,1,0
9998,0,1,0,0,1
9999,1,0,0,1,0

## üìä 2. Churn Rate Analysis

Q4. Calculate the overall churn rate in the dataset. Display both the count and the percentage of customers who exited.

Churn rate = No.of exited/ Total no.of customers

In [37]:
num_of_exited = df.Exited.sum()
num_of_exited
print(f"\nCount of the customers who exited: {num_of_exited}")

Count of the customers who exited: 2037

In [40]:
pct_of_exited = num_of_exited/df.shape[0]*100
pct_of_exited.round(2)
print(f'Percentage of customers who exited: {pct_of_exited.round(2)}%')

Percentage of customers who exited: 20.37%

In [41]:
print(f'Percentage of customers who exited: {(df.Exited.mean()*100).round(2)}%')

Percentage of customers who exited: 20.37%

Q5. Group the data by Geography and calculate the churn rate for each country. Sort the result by churn rate in descending order.

In [47]:
print('\nChurn rate for each country:')
(df.groupby('Geography').Exited.mean()*100).sort_values(ascending=False).reset_index()

Churn rate for each country:

  Geography     Exited
0   Germany  32.443204
1     Spain  16.673395
2    France  16.154767

## üë• 3. Demographics and Churn

Q6. What is the average age of customers who churned versus those who did not? Provide a comparison summary.

In [50]:
print('\nThe average age of customers who churned versus those who did not is:')
df.groupby('Exited').Age.mean().reset_index()

The average age of customers who churned versus those who did not is:

   Exited        Age
0       0  37.408389
1       1  44.837997

Q7. Determine what percentage of churned customers are aged over 45. Compare it to their overall percentage in the dataset.

In [68]:
total_churned = df.Exited.sum()
churned_over_45=df[(df['Exited']==1) & (df['Age']>45)].Exited.sum()
pct_churned_over_45 = (churned_over_45/total_churned*100).round(2)
print(f'Percentage of churned customers aged over 45: {pct_churned_over_45}%')

Percentage of churned customers aged over 45: 46.98%

In [81]:
over_45 = df[df['Age']>45].shape[0]
pct_over_45 = (over_45/df.shape[0]*100)
print(f'Percentage of customers aged over 45: {pct_over_45}%')

Percentage of customers aged over 45: 21.11%

Q8. Analyze churn rate by Gender. Do males or females churn more?

In [84]:
(df.groupby('Gender').Exited.mean()*100).round(3).reset_index()

   Gender  Exited
0  Female  25.072
1    Male  16.456

## üè¶ 4. Product & Account Insights

Q9. Analyze the churn rate based on NumOfProducts. Create a summary table showing churn rate for 1, 2, 3, and 4 products.

In [87]:
(df.groupby('NumOfProducts').Exited.mean()*100).round(2).reset_index()

   NumOfProducts  Exited
0              1   27.71
1              2    7.58
2              3   82.71
3              4  100.00

Q10. Among customers with a Balance of zero, what percentage have exited the bank?

In [102]:
total_num_bal_0 = df[df.Balance == 0.00].shape[0]
num_exited_bal_0 = df[(df.Balance == 0.00) & (df.Exited == 1)].shape[0]
pct = num_exited_bal_0/total_num_bal_0*100
print(f'Percentage of cutomers having zero balance and exited: {pct:.2f} %')

Percentage of cutomers having zero balance and exited: 13.82 %

Q11. What is the average tenure of customers who churned compared to those who didn‚Äôt?

In [104]:
df.groupby('Exited').Tenure.mean().round(2).reset_index()

   Exited  Tenure
0       0    5.03
1       1    4.93

## üßæ 5. Credit and Financial Insights

Q12. Calculate churn rates for customers with:
‚Ä¢	CreditScore < 600
‚Ä¢	CreditScore > 800
What do these churn rates indicate?

In [110]:
cust_cred_lessthan_600 = (df[df.CreditScore < 600].Exited.mean()*100).round(2)
cust_cred_greaterthan_800 = (df[df.CreditScore > 800].Exited.mean()*100).round(2)
print(f'Churn rate for customers who has credit score < 600 : {cust_cred_lessthan_600:.2f}%')
print(f'Churn rate for customers who has credit score > 800 : {cust_cred_greaterthan_800:.2f}%')

Churn rate for customers who has credit score < 600 : 21.75%
Churn rate for customers who has credit score > 800 : 19.69%

Q13. Among customers with a HasCrCard value of 0 and 1, compare the churn rates. Is holding a credit card correlated with retention?

In [112]:
(df.groupby('HasCrCard').Exited.mean()*100).round(2).reset_index()

   HasCrCard  Exited
0          0   20.81
1          1   20.18

I don't think there is some correlation between holding a credit card and the retention of a customer as churn rate is almost equal.

Q14. Create a new column categorizing CreditScore as: 'Low' (<600), 'Medium' (600‚Äì800), 'High' (>800). Group by this category and show churn rate.

In [116]:
df['StrengthOfCreditScore'] = df.CreditScore.apply(lambda x: 'Low' if x<600 else ('Medium' if x<800 else 'High'))
(df.groupby('StrengthOfCreditScore').Exited.mean()*100).round(2).reset_index()

  StrengthOfCreditScore  Exited
0                  High   19.54
1                   Low   21.75
2                Medium   19.79

## üìà 6. Engagement and Salary Analysis

Q15. Compare churn rates between active (IsActiveMember = 1) and inactive (IsActiveMember = 0) customers.

In [118]:
(df.groupby('IsActiveMember').Exited.mean()*100).round(2).reset_index()

   IsActiveMember  Exited
0               0   26.85
1               1   14.27

Q16. What is the average EstimatedSalary for churned vs non-churned customers? Is salary a clear churn factor?

In [121]:
df.groupby('Exited').EstimatedSalary.mean().round(2).reset_index()

   Exited  EstimatedSalary
0       0         99738.39
1       1        101465.68

NO, salary is not a clear churn factor

Q17. Find the top 5 surnames associated with the highest churn counts. What might this indicate?

In [136]:
df[df['Exited']==1].Surname.value_counts().nlargest(5).reset_index()

      index  Surname
0     Smith        9
1    Martin        9
2  McGregor        9
3       Lin        9
4     Manna        7